@page "/readpeople"
@inject IPersonDataService personData


<h3>ReadPeople</h3>

@if (people == null)
{
    <h4> Loading ... </h4>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.DateOfBirth</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<IPersonModel> ? people;

    protected override async Task OnInitializedAsync()
    {
        people = await personData.ReadPeople();
    }

}
